<!-- news-news-box.component.html -->

<div class="news-box">
  <div class="news-box-container">
    <div class="news-list" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" (scrolled)="loadData()">
      <div *ngFor="let article of articles">
        <div class="news-item" (click)="openArticle(article)">
          <img [src]="article.image" alt="{{ article.title }}"/>
          <h2>{{ article.title }}</h2>
        </div>
      </div>

      <div *ngIf="articles.length === 0" class="no-articles-message">
        No news articles available.
      </div>
    </div>
  </div>
</div>
