.news-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  position: relative;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

.news-item {
  background-color: #4c2323;
  padding: 10px;
  cursor: pointer;
  width: 300px;
  font-family: "Calibri Light", serif;
}

.news-item img {
  max-width: 100%;
  height: auto;
}

.news-item h2 {
  height: 21px;
  overflow: hidden;
  font-size: 18px;
  margin-top: 10px;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.news-item:hover{
  background-color: #8a5e5e;
}

.no-articles-message {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.button-container {
  width: 100%;
}

.show-all-button {
  margin-top: 20px;
  padding: 10px 20px;
}

.news-box-container {
  background-color: rgba(  48, 23, 23  , 0.8);
  padding: 20px;
}
