.news-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  position: relative;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

.news-item {
  background-color: #4c2323;
  padding: 10px;
  cursor: pointer;
  width: 300px;
  font-family: "Calibri Light", serif;
}

.news-item img {
  max-width: 100%;
  height: auto;
}

.news-item h2 {
  height: 21px;
  overflow: hidden;
  font-size: 18px;
  margin-top: 10px;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.news-item:hover{
  background-color: #8a5e5e;
}

.no-articles-message {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.button-container {
  width: 100%;
}

.show-all-button {
  margin-top: 20px;
  padding: 10px 20px;
}

.news-box-container {
  background-color: rgba(  48, 23, 23  , 0.8);
  padding: 20px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  color: white;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ff013c;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #ff013c;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ff003c;
  background: #ff013c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
