.news-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  position: relative;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

.news-item {
  background-color: #4c2323;
  padding: 10px;
  cursor: pointer;
  width: 300px;
  font-family: "Calibri Light", serif;
}

.news-item img {
  max-width: 100%;
  height: auto;
}

.news-item h2 {
  height: 21px;
  overflow: hidden;
  font-size: 18px;
  margin-top: 10px;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.news-item:hover{
  background-color: #8a5e5e;
}

.no-articles-message {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.button-container {
  width: 100%;
}

.show-all-button {
  margin-top: 20px;
  padding: 10px 20px;
}

.news-box-container {
  background-color: rgba(  48, 23, 23  , 0.8);
  padding: 20px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  color: white;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-purple-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input[type=text] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa,
.active-cyan-2 .fa {
  color: #4dd0e1;
}
.active-purple .fa,
.active-purple-2 .fa {
  color: #ce93d8;
}
.active-pink .fa,
.active-pink-2 .fa {
  color: #f48fb1;
}
