.component-wrapper {
  background-image: linear-gradient(to bottom, rgba(255, 1, 60, 1), rgba(0, 0, 0, 1));

  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  height: 90px;
  width: 100%;
  z-index: 1;
  position: relative;
}


