.component-wrapper {
  background-image: linear-gradient(to bottom, rgba(255, 1, 60, 1), rgba(0, 0, 0, 1));

  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  z-index: -1;
  height: 90px;
}

.btn {
  background: url("https://img.freepik.com/free-vector/illustration-uk-flag_53876-18166.jpg?size=626&ext=jpg");
  border: none;
  cursor: pointer;
  width: 30px;
  max-height: 100%;
}
