<div class="component-wrapper">
  <div class="sm-wrapper">
    <div class="social-icon facebook"><i class="fab fa-facebook"></i></div>
    <div class="social-icon twitter"><i class="fab fa-twitter"></i></div>
    <div class="social-icon youtube"><i class="fab fa-youtube"></i></div>
    <div class="social-icon instagram"><i class="fab fa-instagram"></i></div>
    <div class="social-icon reddit"><i class="fab fa-reddit"></i></div>
    <div class="social-icon discord"><i class="fab fa-discord"></i></div>
    <div class="social-icon twitch"><i class="fab fa-twitch"></i></div>
  </div>
</div>

