.site-wrapper {
  position: relative;
  left: 0;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  margin-right: -20px;
  margin-left: -10px;
}

.twitch-separator-top {
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-bottom: 20vw solid white;
}

.twitch-box {
  background-color: white;
  width: 100vw;

}
