body{
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(38,1,1,1) 67%, rgba(166,5,18,1) 97%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(38,1,1,1) 67%, rgba(166,5,18,1) 97%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(38,1,1,1) 67%, rgba(166,5,18,1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#a60512",GradientType=1);
}
