.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Set z-index to a value lower than other children */
  width: 100%;
  height: 100%;
}

.nav-navbar {
  position: fixed;
  top: 20px;
  z-index: 3;
  width: 100vw;
  transition: top 0.3s ease; /* Adjust the transition duration and easing as needed */
  margin-left: -8px;
}

.nav-navbar.scrolled {
  top: 0;
}

.footer {
  background-color: black;
  color: #abb2b9;
  height: 300px;
  width: 100vw;
  position: relative;
  bottom: 0;
  margin-left: -8px;
  margin-bottom: -15px;
}


