<div class="container">
  <div class="thanks">
    <div class="subtitle">{{getTranslation('4')}}</div>
    <div class="title">{{getTranslation('5')}}</div>
    <p>{{getTranslation('6')}}</p>
  </div>
  <div class="partners">
    <div class="partner-logos">
      <div *ngFor="let partner of partners">
        <img
          [src]="partner.imageUrl"
          alt="Partner 1"
          class="partner-logo"
          (click)="redirectToPartnerWebsite(partner.websiteUrl)"
        />
      </div>
    </div>
  </div>
</div>
