.component-wrapper {
  background-color: #6b0008;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  z-index: -1;
  height: 20px;
}

.btn {
  background: url("https://img.freepik.com/free-vector/illustration-uk-flag_53876-18166.jpg?size=626&ext=jpg");
  border: none;
  cursor: pointer;
  width: 30px;
  max-height: 100%;
}
