.event-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e5e8e8;
  border-radius: 2px;
  background-color: #f2f4f4;
}

.event-details {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.planned-time {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 110px;
}

.event-time {
  color: #784212;
  font-style: italic;
  font-size: 20px;
}

.event-description {
  color: #8f969f;
  padding: 10px;
  width: 250px;
  position: relative;
  left: 20px;
}

.event-game {
  color: #aeb6bf;
}

.game-logo {
  width: 100px;
  object-fit: cover;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.event-divider {
  border: 0; /* Remove the default border */
  border-left: 2px solid #ccc; /* Set the left border to create a vertical line */
  height: 100px; /* Set the height of the vertical line */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.event-title-wrapper {
  padding-right: 10px;
  width: 270px;
}

.event-title {
  color: #641e16;
  font-size: 30px;
  justify-items: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.event-title img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/***************/

.arrow {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-btn{
  padding: 10px;
  cursor: pointer;
}

.arrow:hover{
  border: solid red;
  border-width: 0 6px 6px 0;
  display: inline-block;
}

