.site-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('src/assets/imgs/Untitled.jpg');
  background-repeat: repeat-y;
  padding-bottom: 100px;
  width: 100vw;
}
.twitch-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10vw;
  color: white;
  position: relative;
  top: 30px;
  left: 10vw;
  align-items: center;
  width: 100%;
}
.title {
  color: black;
  font-size: 100px;
  font-family: Impact, serif;
}
.title-wrapper {
  position: relative;
  left: -400px;
  top: -50px;
}

.tw-XS{
  display: none;
}
.tw-S{
  display: none;
}
.tw-M{
  display: none;
}
.tw-L{
  display: unset;
}

@media (max-width: 750px) and (min-width: 400px){
  .title-wrapper{
    text-align: left;
    left: 20px;
    top: 0;
  }
  .tw-XS{
    display: none;
  }
  .tw-S{
    display: unset;
  }
  .tw-M{
    display: none;
  }
  .tw-L{
    display: none;
  }

  .twitch-box{
    width: 100vw; /* Set parent width to 100% of the viewport width */
    display: flex;
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    left: 0;
  }
}
@media (max-width: 1700px) and (min-width: 750px){
  .title-wrapper{
    text-align: left;
    left: 20px;
    top: 0;
  }
  .tw-XS{
    display: none;
  }
  .tw-S{
    display: none;
  }
  .tw-M{
    display: unset;
  }
  .tw-L{
    display: none;
  }
}
@media (max-width: 400px) {
  .tw-XS{
    display: unset;
  }
  .tw-S{
    display: none;
  }
  .tw-M{
    display: none;
  }
  .tw-L{
    display: none;
  }
  .title {
    color: black;
    font-size: 70px;
    font-family: Impact, serif;
  }

  .twitch-box{
    width: 100vw; /* Set parent width to 100% of the viewport width */
    display: flex;
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    left: 0;
  }
}

@media (max-width: 1250px) and (min-width: 750px){
  .twitch-box{
    width: 100vw; /* Set parent width to 100% of the viewport width */
    display: flex;
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    left: 0;
  }
}

