.container {
  display: inline-block;
  width: 100vw;
  background-color: black;
  color: #abb2b9;
}

.circular--portrait {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  padding: 50px;
}

.event-divider {
  border-top: 1px solid #abb2b9;
}

.copyright-credit-wrapper {
  display: flex;
  justify-content: space-between;
}

.copyright-text {
  width: 50%;
  position: relative;
  left: 10px;
}

.credit-text {
  width: 50%;
  text-align: right;
  position: relative;
  right: 10px;
}

