<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="container">
  <div class="menu-wrapper">
    <div class="vzk-esports-menu">
      <div class="title">
        VZK Esports
      </div>
      <div>
        <ul class="menu">
          <li class="choice"><a href="#news">News</a></li>
          <li class="choice"><a href="#contact">Contact</a></li>
          <li class="choice"><a href="#about">About</a></li>
          <li class="choice"><a href="#home">Partners</a></li>
          <li class="choice"><a href="#home">Terms</a></li>
        </ul>
      </div>
    </div>
    <div class="social-media-menu">
      <div class="circular--portrait child-middle">
        <img src="../../../assets/imgs/vzklogo.jpg" height="150px"/>
      </div>
      <div class="social-media-icons child-middle">
        <div class="sm-title"> Join us </div>
        <div class="sm-wrapper">
          <div class="social-icon facebook"><i class="fab fa-facebook"></i></div>
          <div class="social-icon twitter"><i class="fab fa-twitter"></i></div>
          <div class="social-icon youtube"><i class="fab fa-youtube"></i></div>
          <div class="social-icon instagram"><i class="fab fa-instagram"></i></div>
          <div class="social-icon reddit"><i class="fab fa-reddit"></i></div>
          <div class="social-icon discord"><i class="fab fa-discord"></i></div>
        </div>
      </div>
    </div>
    <div class="team-menu">
      <div class="title">
        Teams
      </div>
      <div>
        <ul class="menu">
          <li class="choice"><a href="#news">League Of Legends</a></li>
          <li class="choice"><a href="#contact">Valorant</a></li>
          <li class="choice"><a href="#about">All Teams</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="footer-divider"/>
  <div class="copyright-credit-wrapper">
    <div class="copyright-text">
      <p>&copy; 2023, UK - VZK Esports. All Rights Reserved. </p>
    </div>
    <div class="credit-text">
      <p>Created by: KristinaSS @ github </p>
    </div>
  </div>
</div>
