<div class="contact-container">
  <div class="circular--portrait">
    <img src="../../../assets/imgs/VZK.png" height="300px"/>
  </div>
  <div class="contact-title font">{{getTranslation('1')}}</div>
  <div class="details-wrapper">
    <div class="row">
      <i class="fa-solid fa-location-dot icon row">
      <div class="detail font">{{getTranslation('2')}}</div></i>
    </div>
    <div class="row">
      <i class="fa-regular fa-envelope icon row">
      <div class="detail font">{{getTranslation('3')}}</div></i>
    </div>
    <div class="row">
      <i class="fa-solid fa-phone icon row">
        <div class="detail font">{{getTranslation('4')}}</div></i>
    </div>
  </div>
</div>

