<div class="contact-container">
  <div class="circular--portrait">
    <img src="../../../assets/imgs/VZK.png" height="300px"/>
  </div>
  <div class="contact-title font"> Contact Details</div>
  <div class="details-wrapper">
    <div class="row">
      <i class="fa-solid fa-location-dot icon row">
      <div class="detail font">22-2 Antrim Rd, Belsize Park, London, UK </div></i>
    </div>
    <div class="row">
      <i class="fa-regular fa-envelope icon row">
      <div class="detail font">verzik@gmail.com </div></i>
    </div>
    <div class="row">
      <i class="fa-solid fa-phone icon row">
        <div class="detail font">+44 20 3911 5640</div></i>
    </div>
  </div>
</div>

