.banner-img{
  width: 100vw;
  margin-left: -4px;
}

.gradient{
  height: 200px;
  position: absolute;
  top: 90px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  width: 100vw;
  margin-left: -4px;
}
