<div class="nav-navbar-wrapper component-wrapper">
  <div class="nav-navbar nav-navbar-wrapper navbar-mobile">
    <div id="menu-icon" (click)="toggleMobileMenu()">&#9776;</div>
    <a id="vzk-logo" class="logo desktop-logo" routerLink="home">
      <div class="circular--portrait">
        <img src="../../../assets/imgs/VZK.png" height="60px"/>
      </div>
    </a>
    <a id="vzk-name" class="logo center desktop-name" routerLink="home">Verzik Esports</a>
  </div>
  <ul class="nav-navbar" [ngClass]="{'navbar': !isMobileMenuActive, 'active': isMobileMenuActive}">
    <li><a class="center nav-item desktop-item" routerLink="teams">Teams</a></li>
    <li><a class="center nav-item desktop-item" routerLink="news">News</a></li>
    <li><a class="center nav-item desktop-item">Schedule</a></li>
    <li><a class="center nav-item desktop-item">Contact</a></li>
    <li><a class="center nav-item desktop-item">About</a></li>
    <li><a class="center nav-item mobile-item" *ngIf="!loggedIn" (click)="login()">Login</a></li>
    <li><a class="center nav-item mobile-item" *ngIf="loggedIn">View Profile</a></li>
    <li><a class="center nav-item mobile-item" *ngIf="loggedIn">Option 1</a></li>
    <li><a class="center nav-item mobile-item" *ngIf="loggedIn">Option 2</a></li>
    <li><a class="center nav-item mobile-item" *ngIf="loggedIn">Option 3</a></li>
    <li><a class="center nav-item mobile-item" *ngIf="loggedIn" (click)="login()">Logout</a></li>
  </ul>
  <ul class="nav-dropdown">
    <li *ngIf="!loggedIn">
      <a class="center nav-item desktop-item login-profile dropdown-item" (click)="login()">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
        <div class="my-account"> Login </div>
      </a>
    </li>
    <li *ngIf="loggedIn" class="dropdown">
      <a class="center nav-item desktop-item login-profile dropdown-btn" (mouseover)="toggleHiddenDiv(true)" (mouseout)="toggleHiddenDiv(false)">
        <i class="fa-solid fa-user"></i>
        <div class="my-account"> {{username}} </div>
      </a>
      <div class="dropdown-content login-profile" [ngStyle]="{'display': isHidden ? 'flex' : 'none'}" (mouseover)="toggleHiddenDiv(true)" (mouseout)="toggleHiddenDiv(false)">
        <a class="dropdown-item" (click)="navigateToProfile()">View Profile</a>
        <a class="dropdown-item">Option 1</a>
        <a class="dropdown-item">Option 2</a>
        <a class="dropdown-item">Option 3</a>
        <a class="dropdown-item" (click)="login()">Logout</a>
      </div>
    </li>
  </ul>
</div>
