.news-box {
  padding-top: 30vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  position: relative;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.news-item {
  background-color: #4c2323;
  padding: 10px;
  cursor: pointer;
  width: 300px;
}

.news-item img {
  max-width: 100%;
  height: auto;
}

.news-item h2 {
  height: 21px;
  overflow: hidden;
  font-size: 18px;
  margin-top: 10px;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.no-articles-message {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.button-container{
  width: 100%;
}

.show-all-button {
  margin-top: 20px;
  padding: 10px 20px;
}


.news-box-container {
  background-color: #301717;
  padding: 20px;
}

.news-title {
  font-family: Impact, serif;
  font-size: 50px;
  color: #f2dbdb;
}

.news-subtitle {
  font-family: Impact, serif;
  font-size: 20px;
  color: #ecc8c8;
}

.padding-title {
  padding: 10px;
}

.show-all-button,
.show-all-button:after {
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0 0 #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.show-all-button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0 #F8F005, 3px 3px 0 #00E6F6;
  clip-path: var(--slice-0);
}

.show-all-button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  cursor: pointer;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .news-list {
    width: 1000px;
  }
  .show-all-button,
  .show-all-button:after {
    width: 200px;
    height: 40px;
    line-height: 40px;
  }
}
