<div class="news-box">
    <div class="news-box-container">
        <div>
            <div class="news-title padding-title">NEWS & MATCHES</div>
            <div class="news-subtitle padding-title">Come and support us!</div>
        </div>
        <div class="news-list">
            <div *ngFor="let article of articles.slice(0, visibleArticles)">
                <div class="news-item" (click)="openArticle(article)">
                    <img [src]="article.image" alt="{{ article.title }}"/>
                    <h2>{{ article.title }}</h2>
                </div>
            </div>

            <div *ngIf="articles.length === 0" class="no-articles-message">
                No news articles available.
            </div>
        </div>
        <div class="button-container">
            <button *ngIf="visibleArticles < articles.length" (click)="showMore()" class="show-all-button"
                    role="button">
                Show All
            </button>
        </div>
    </div>
</div>
