
<p><em>The website </em><a href="https://www.g2esports.com"><em>www.g2esports.com</em></a><em> (hereinafter: “Website”) is provided and maintained by G Esports Holding GmbH (hereinafter referred to as “We” or “Provider”). Further information about the provider can be found in the imprint section. </em></p>
<h2>I. Common provisions</h2>
<ol>
  <li>
    <strong>Service description and scope</strong>
    <ul>
      <li>On our Website, We make available to users (hereinafter “Users”, “You”) information, content and materials about esports, such as news, information regarding competitions, prizes, game reviews etc., as well as a marketplace (“Marketplace”) where Users may purchase goods or services related to the world of esports from third-party vendors.</li>
      <li>In addition, the We offer Users a membership program (“Membership”) against payment of a fee.</li>
      <li>Detailed descriptions of the above-mentioned services can be found within the respective paragraphs within the special-provisions sections.</li>
      <li>By using any of the services on the Website, Users accept these ToU. Link to YouTube ToS can be found <a href="https://www.youtube.com/t/terms" target="_blank" rel="noopener noreferrer">here</a>.</li>
      <li>Unless otherwise specified, these ToU fully apply to any use of the Website, including any of the services mentioned above. Special sections II. and III. only apply to the services they refer to.</li>
      <li>These ToU only apply to Users qualifying as consumers. Other Users are kindly requested to contact Us to learn about services available to them and the respective conditions.</li>
    </ul>
  </li>
  <li>
    <strong>Age restrictions</strong>
    <ul>
      <li>The use of our Website is age restricted. Users below the age of 16 are not allowed to access the Website or use any of its services.</li>
      <li>Selected services offered on the Website may only be available to Users above a certain age and will be marked accordingly.</li>
    </ul>
  </li>
  <li>
    <strong>Prohibited use and indemnification</strong>
    <ul>
      <li>The Website may only be used for the purposes which it is intended for. In particular, the following actions are not allowed:
        <ul>
          <li>using the Website in an abusive, fraudulent, illegal or inappropriate manner or for any other purpose unrelated to the Provider’s services;</li>
          <li>reverse-engineer or decompile Websites or parts thereof;</li>
          <li>copy, collect, scrape, duplicate and distribute the content or information provided on the Website;</li>
          <li>abuse of the Website in a way that imposes an unreasonably burden on the infrastructure or provokes its malfunction;</li>
          <li>violate or attempt to violate security measures used in the Website;</li>
        </ul>
      </li>
      <li>Users commit to indemnify the Provider against any claims asserted by third parties against the Provider due to or in connection with their use of the Website for purposes other than those intended or in breach of these ToS, including the legal costs incurred for the defence.</li>
    </ul>
  </li>
</ol>
<ol start="4">
  <li>
    <strong>Technical requirements</strong>
    <ul>
      <li>The Provider implements current and common technologies. In order to take full advantage of the Website, Users must adopt such current and common technologies, too. The use of older or not common technologies may result in limited availability or unavailability of the services governed by these ToU.</li>
      <li>Further or more detailed technical requirements for using the Website may be specified on the Website itself.</li>
    </ul>
  </li>
  <li>
    <strong>Intellectual Property</strong>
    <ul>
      <li>The Provider or its licensors are exclusively entitled to all rights in the Website and its content (e.g. images, designs, texts, logos, software, trademarks, registered designs), including any intellectual property rights (copyrights, trademarks or patents). Users acknowledge and accept that they are granted a license to use such content only to the extent and for the purposes of using the Website in accordance with these ToS.</li>
      <li>In particular, Users may not sell, copy, transfer, distribute, modify, alter, imitate or exploit the Website content in any way not expressly permitted by these ToS or otherwise implied in the intended use of the Website.</li>
      <li>Any use of the Website not expressly permitted by these ToU requires the Provider’s prior consent in writing.</li>
    </ul>
  </li>
  <li>
    <strong>User accounts</strong>
    <ul>
      <li>Users may create User accounts by providing the requested information via the respective registration form on the Website in a complete and truthful manner. Personal data required in order to create a User account include:</li>
    </ul>
  </li>
</ol>
<ul>
  <li>name, e-mail address: We need this information to create an account and to communicate with Users;</li>
  <li>last name, address: We need this information to close contracts with Users and issue invoices;</li>
  <li>age: We need this information to make that We do not process personal data of Users below 16.
    <ul>
      <li>Further information or personal data may be provided on a voluntary basis.</li>
      <li>Users are responsible for keeping their login credentials confidential and safe. For this reason, Users are also required to choose passwords that meet the highest safety standards supported on our Website.</li>
      <li>By creating a User account, You accept full responsibility for all activities that may take place under Your username and password. You are required to immediately and unambiguously inform Us if You think that Your personal information, including Your account, access credentials or personal data, have been violated, unduly disclosed or stolen.</li>
      <li>We explicitly reserve the right to suspend or delete User accounts at our own discretion where any activity performed under a User account may violate statutory law, infringe third-party rights or otherwise endanger or impair our legitimate interests.</li>
    </ul>
  </li>
</ul>
<h2>II. Special provisions applicable to the Marketplace</h2>
<ol start="7">
  <li>
    <strong>Provision of infrastructure</strong>
    <ul>
      <li>Via the Marketplace Users may purchase goods or services (“Products”) from third-party vendors. The use of the Marketplace itself is free of charge.</li>
      <li>We do not sell or offer for sale any Products via the Marketplace. Our service merely consists in making available a technological infrastructure allowing third-party vendors (“Vendors”) to offer Products to Users and Users to purchase them.</li>
    </ul>
  </li>
  <li>
    <strong>Contract conclusion and liability</strong>
    <ul>
      <li>Any contract regarding the purchase of Products closed over the Marketplace is therefore solely entered into by the User and the respective Vendor.</li>
      <li>We do not control, monitor, moderate or inspect any Products offered by Vendors via the Marketplace and do therefore not bear any responsibility in connection with such Products, including but not limited to their quality, safety, accuracy, or the Vendors’ ability to provide them.</li>
      <li>The limitation of liability extends in particular to
        <ul>
          <li>any pre-contractual statement, claim or description of the Products offered through the Marketplace;</li>
          <li>the existence of any applicable license, authorisation, qualification or other official permit allowing Vendors to offer specific goods or services, as may be required by applicable law;</li>
          <li>any claim based on partial, incorrect or failed performance of contracts entered via the Marketplace;</li>
          <li>any characteristics of the Products, including their merchantability according to applicable law and their suitability for a determined audience and/or age.</li>
        </ul>
      </li>
    </ul>
  </li>
</ol>
<ol start="9">
  <li>
    <strong>Purchasing process</strong>
    <ul>
      <li>To Purchase Products from a Vendor Users must select them and thereby place them into their virtual shopping cart. Once they have done so, they may review their selection from within their shopping cart section or confirm it.</li>
      <li>To proceed to check-out, Users must either log-into their User account (if any) or proceed “as guests”. In the former case, the purchasing process will automatically be populated with the data extracted from the User account. In the latter case, Users will have to provide the following data to proceed to check-out: name, last name, address, e-mail address.</li>
      <li>In addition to the above, Users must choose a method of payment among those available. The Provider does not process payments and does therefore not collect any payment data from Users.</li>
      <li>After the above-mentioned data has been specified, Users can review their order and – if necessary – correct any errors, integrate missing information or go back.</li>
      <li>To place the order, Users must accept the terms of sale provided by the relevant Vendor and click on the respective button. The contract with the relevant Vendor is closed upon submission of the order.</li>
      <li>Upon order submission, Users will receive an email confirmation of the order.</li>
    </ul>
  </li>
  <li>
    <strong>Mandatory information, fulfilment</strong>
    <ul>
      <li>Any mandatory information in connection with the sale of Products – such as information about the Vendor, about the Product’s characteristics, prices, applicable guarantees, right of withdrawal, delivery restrictions etc. – will be made available to Users during the purchasing process or, as the case may be, after placing the order by each relevant Vendor. We as Marketplace Provider do not bear any responsibility in connection with the provision of such information.</li>
      <li>The entire fulfilment of orders is handled by the Vendor and its agents. Users are invited to contact the relevant Vendor in case of any questions, complaints or claims regarding Products offered or purchased. The Provider does not bear any responsibility in connection with the fulfilment of orders.</li>
    </ul>
  </li>
</ol>
<h2>III. Terms of Sale (“ToS”) applicable to the Membership</h2>
<ol start="11">
  <li>
    <strong>Service description</strong>
    <ul>
      <li>Through Your User account on the Website, You have the possibility to subscribe one of the following Membership plans:</li>
    </ul>
  </li>
</ol>
<ul>
  <li>Soldier: free of charge, includes (without limitation) access to selected special content of our Website such as videos, game and match updates, quizzes, giveaways and early bird offers available on the Marketplace;</li>
  <li>Officer: against payment of a fee, includes, in addition to the above (and without limitation), access to further special content, special offers on selected items available on the Marketplace, 5% discounts on a restricted amount of Marketplace items, giveaways, participation in basic team decisions, special treatment on live events;</li>
  <li>Commander: against payment of a fee, includes, in addition to the above (and without limitation), access to further special content, special offers on selected items available on the Marketplace, 10% discount on a restricted amount of Marketplace items; further giveaways, participation in core team decisions, discounts on tickets for live events;
    <ul>
      <li>The full description of each Membership plan and of the applicable prices and conditions is available on the Website during the purchasing process and, after purchase, from within Your User account, and forms integrating and binding part of these ToS.</li>
    </ul>
  </li>
</ul>
<ol start="12">
  <li>
    <strong>Purchasing process</strong>
    <ul>
      <li>In order to subscribe to a paid Membership, Users must select the desired plan and log into their User account – if any – or create one by providing the required information. After this, Users must choose a method of payment among those available on the Website.</li>
      <li>Users may then review their order, modify, correct it or go back to a previous step. To submit the order, Users must accept these ToS, accept the waiver of the right of withdrawal and click on the relevant button. The contract is closed upon submission of the order.</li>
      <li>Upon order submission, Users will receive an email confirmation of the order. Such email will also include an order summary and these ToU and the information about the right of withdrawal on a durable medium.</li>
      <li>The chosen subscription plan will be activated as soon as payment is received. The User shall bear any costs possibly arising to the Provider due to failed payments attributable to the User.</li>
      <li>Contracts are closed in English. The wording of the contract will not be stored by us.</li>
    </ul>
  </li>
  <li>
    <strong>Autorenewal and termination</strong>
    <ul>
      <li>All our subscriptions are automatically renewing. This means that upon expiration of the initial term, the subscription will be extended for another equal term at equal conditions, unless You terminate the subscription.</li>
      <li>To terminate a subscription You must send Us an unambiguous notice of termination using the contact details specified on our Website or from within Your User account.</li>
      <li>Terminations become effective by the end of the subscription term during which the notice is received.</li>
    </ul>
  </li>
  <li>
    <strong>Information about the right of withdrawal</strong>
    <ul>
      <li>You have the right to withdraw from the subscription contract within fourteen days of contract conclusion without stating reasons. In order to exercise Your right of withdrawal, You must inform us by means of an unambiguous notice (e.g. a letter, fax or e-mail sent by post) of Your decision to withdraw from this contract. You may use the attached template withdrawal form below for this purpose, but this is not mandatory.</li>
      <li>The deadline to exercise Your right of withdrawal is met as long as You submit us the withdrawal notice before withdrawal period expires.</li>
      <li><u>Effects of withdrawal</u></li>
    </ul>
  </li>
</ol>
<p>If You withdraw from the contract, We shall refund all payments We have received from You immediately and no later than fourteen days from the date We receive Your withdrawal notice. Refunds will be done with the same payment method used for the original transaction, unless expressly agreed otherwise with You; in no case will You be charged any fees for this refund.</p>
<ul>
  <li>If You have asked Us to start the provision of our services during the withdrawal period, You shall pay Us a reasonable amount corresponding to the portion of the services already provided by the time You inform Us of the exercise of the right of withdrawal compared to the total value of services provided under the Agreement.</li>
  <li><strong><u>Waiver of the right of withdrawal</u></strong></li>
</ul>
<p><strong>Please note that, when subscribing one of our paid Membership plans, You explicitly request that We begin performing our service immediately (i.e. before the withdrawal period expires) and thereby acknowledge that You will lose Your right of withdrawal once the contract has been fully performed by Us.</strong></p>
<h2>IV. Closing provisions</h2>
<ul>
  <li>
    <strong>Limitation of liability</strong>
    <ul>
      <li>Unless otherwise explicitly stated and without prejudice to applicable statutory product liability provisions, Users shall have no right to claim damages against Us (or any natural or legal person acting on Our behalf).</li>
      <li>The above does not apply to damages to life, health or physical integrity, damages resulting from the breach of an essential contractual obligation such as any obligation strictly necessary to achieve the purpose of the contract, and/or damages resulting from intent or gross negligence, as long as our services have been appropriately and correctly used by the User.</li>
      <li>Unless damages have been caused by way of intent or gross negligence, or they affect life, health or physical integrity, We shall only be liable to the extent of typical and foreseeable damages at the moment the contract was entered into.</li>
    </ul>
  </li>
  <li>
    <strong>Miscellaneous</strong>
    <ul>
      <li>Users have no enforceable claim to use the Website provided. In particular, the Provider reserves the right to change, revise, discontinue or completely withdraw the Website or single functions thereof from circulation at any time.</li>
      <li>Similarly, the Provider reserves the right to change these ToU at any time. In the event of changes to the ToU, You will be informed about the amended ToU when loading the Website. In case You object to the amended ToU, You must refrain from using the Website and its services. The continued use of the Website shall be deemed as acceptance of the amended ToU.</li>
      <li>As far as legally permissible, these ToU between the Provider and Users are governed by German law, without prejudice to any possible higher consumer protection level awarded by the laws of the country in which the User is domiciled.</li>
      <li>The Provider does not participate in any alternative dispute resolution proceedings before a consumer arbitration body pursuant to the Consumer Dispute Settlement Act (Verbraucherstreitbeilegungsgesetz).</li>
      <li>These ToU shall remain effective in case single provisions should be deemed invalid. The invalid provisions shall be replaced by the statutory provisions, if available. However, should this result in an unreasonable hardship for one of the parties, the ToU shall become invalid in their entirety.</li>
    </ul>
  </li>
</ul>
