.content{
  margin-top: 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  align-items: center;
  justify-items: center;
  display:grid;
}

.page-wrapper{
  width: 70%;
  background: rgb(255, 255, 255, 0.85);
  padding: 30px;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #ff003c;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: #ff003c;
  color: white;
}

