<h1 class="logo" mat-dialog-title>Login</h1>
<div class="dialog-wrapper">
  <div mat-dialog-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions class="button-container">
    <button mat-button (click)="onLogin()">Login</button>
    <button mat-button color="primary" (click)="onSignUp()">Sign Up</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</div>
