.site-wrapper {
  position: relative;
  left: 0;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
}

.twitch-separator-top {
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-bottom: 20vw solid white;
}

.twitch-box {
  background-color: white;
  width: 100vw;

}

@media (max-width: 1100px) {
  .twitch-separator-top {
    width: 0;
    height: 0;
    border-right: 100vw solid #301717;
    border-bottom: 20vw solid white;
  }
}
@media (max-width: 1100px) and (min-width: 600px){

}

