.contact-container {
  background-color: white;
  padding: 50px;
  margin-bottom: 50px;
  margin-left: 50px;

  font-family: Arial, sans-serif;
  max-width: 600px;
}

.name-wrapper{
  display: flex;
  flex-direction: column;
}

.max-text-input{
  width: 50%;
}

.text-input{
  padding: 10px;
  margin: 0 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  margin-top: 22px;
  font-size: 15px;
  margin-left: 5px;
}

input {
  margin-bottom: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

.name-form{
  display: flex;
  flex-direction: row;
}

.submit-btn{
  margin-top: 20px;
}

.consent-checkbox{
  align-self: flex-start;
}

.consent-box{
  display: inline-flex;
}

.policy-link{
  color: #ff013c;
  font-weight: bold;
  cursor: pointer;
}

.policy-link:hover{
  text-decoration: underline;
}

.consent-text{
  margin-left: 10px;
}

.area{
  max-width: 600px;
  height: 90px;
}

.required-star {
  color: #ff003c;
  margin-left: 3px; /* Adjust the spacing as needed */
}

.validation-error{
  color: #ff003c;
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin-left: 5px;
}

.character-count {
  color: #434649;
  font-family: Arial, sans-serif;
  font-size: 15px;
  align-self: flex-end;
  margin-right: 5px;
  margin-top: 5px;
}

.title{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.title-wrapper{
  display: inline-grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}
