<div class="contact-container">
  <h2>Request</h2>
  <form (ngSubmit)="submitForm()" [formGroup]="contactForm">
    <div class="name-form">
      <!-- First Name -->
      <div class="name-wrapper max-text-input">
        <label for="firstName">
          FIRST NAME
          <span *ngIf="contactForm.get('fName')!.touched" class="required-star">*</span>
        </label>
        <input type="text" class="text-input" id="firstName" name="firstName" formControlName="fName">
        <div *ngIf="contactForm.get('fName')!.hasError('required') && contactForm.get('fName')!.touched"
             class="validation-error">
          First Name is required.
        </div>
        <div *ngIf="contactForm.get('fName')!.hasError('minlength') && contactForm.get('fName')!.touched"
             class="validation-error">
          Needs to be at least 3 characters long.
        </div>
        <div *ngIf="contactForm.get('fName')!.hasError('maxlength') && contactForm.get('fName')!.touched"
             class="validation-error">
          Needs to be less than 50 characters long.
        </div>
        <div *ngIf="contactForm.get('fName')!.hasError('firstLetterUppercase') && contactForm.get('fName')!.touched"
             class="validation-error">
          The first letter must be uppercase.
        </div>
      </div>

      <!-- Last Name -->
      <div class="name-wrapper max-text-input">
        <label for="lastName">
          LAST NAME
          <span *ngIf="contactForm.get('lName')!.hasError('required') && contactForm.get('lName')!.touched"
                class="required-star">*</span>
        </label>
        <input type="text" class="text-input" id="lastName" name="lastName" formControlName="lName">
        <div *ngIf="contactForm.get('lName')!.hasError('required') && contactForm.get('lName')!.touched"
             class="validation-error">
          Last Name is required.
        </div>
        <div *ngIf="contactForm.get('lName')!.hasError('minlength') && contactForm.get('lName')!.touched"
             class="validation-error">
          Needs to be at least 3 characters long.
        </div>
        <div *ngIf="contactForm.get('lName')!.hasError('maxlength') && contactForm.get('lName')!.touched"
             class="validation-error">
          Needs to be less than 50 characters long.
        </div>
        <div *ngIf="contactForm.get('lName')!.hasError('firstLetterUppercase') && contactForm.get('lName')!.touched"
             class="validation-error">
          The first letter must be uppercase.
        </div>
      </div>
    </div>

    <!-- Email -->
    <label for="email">EMAIL <span
      *ngIf="contactForm.get('email')!.hasError('required') && contactForm.get('email')!.touched"
      class="required-star">*</span></label>
    <input type="email" class="text-input" id="email" name="email" formControlName="email">
    <div *ngIf="contactForm.get('email')!.hasError('required') && contactForm.get('email')!.touched"
         class="validation-error">
      Email is required.
    </div>
    <div *ngIf="contactForm.get('email')!.hasError('email') && contactForm.get('email')!.touched"
         class="validation-error">
      Please enter a valid email address.
    </div>
    <div *ngIf="contactForm.get('email')!.hasError('maxlength') && contactForm.get('email')!.touched"
         class="validation-error">
      Needs to be less than 100 characters long.
    </div>

    <!-- Topic -->
    <label for="topic">TOPIC <span
      *ngIf="contactForm.get('topic')?.hasError('required') && contactForm.get('topic')!.touched"
      class="required-star">*</span></label>
    <select class="text-input" id="topic" name="topic" formControlName="topic"
            (change)="onTopicChange()">
      <option value="" disabled selected hidden>Choose a topic</option>
      <option value="generalInquiry">General Inquiry</option>
      <option value="application">Application Request</option>
      <option value="partnership">Partnership</option>
      <option value="other">Other</option>
    </select>
    <div *ngIf="contactForm.get('topic')?.hasError('required') && contactForm.get('topic')!.touched"
         class="validation-error">
      Topic is required.
    </div>

    <!-- comments -->
    <label
      *ngIf="contactForm.get('topic')?.value !== 'application'"
      for="comments"> COMMENTS/QUESTIONS <span
      *ngIf="contactForm.get('comments')!.hasError('required') && contactForm.get('comments')!.touched"
      class="required-star">*</span>
    </label>
    <textarea
      *ngIf="contactForm.get('topic')?.value !== 'application'"
      type="text" class="text-input area" id="comments" name="comments"
      formControlName="comments"
      (input)="onInput($event, 'comments')">
    </textarea>
    <div *ngIf="contactForm.get('topic')?.value !== 'application'" class="character-count">
      {{ characterCount }}/512
    </div>
    <div *ngIf="contactForm.get('comments')?.hasError('required') && contactForm.get('comments')!.touched"
         class="validation-error">
      This field is required.
    </div>

    <!-- Game -->
    <label *ngIf="contactForm.get('topic')?.value == 'application'" for="game">APPLIED GAME <span
      *ngIf="contactForm.get('game')!.hasError('required') && contactForm.get('game')!.touched"
      class="required-star">*</span>
    </label>
    <select *ngIf="contactForm.get('topic')?.value == 'application'" class="text-input" id="game" name="game"
            formControlName="game"
            (change)="onGameChange()">
      <option value="" disabled selected hidden>Choose a game</option>
      <option *ngFor="let game of games" [value]="game.id">{{game.title}}</option>
    </select>
    <div *ngIf="contactForm.get('game')?.hasError('required') && contactForm.get('game')!.touched"
         class="validation-error">
      Game is required.
    </div>

    <!-- Application Type -->
    <label *ngIf="contactForm.get('topic')?.value == 'application'" for="applicationType">APPLICATION TYPE <span
      *ngIf="contactForm.get('applicationType')!.hasError('required') && contactForm.get('applicationType')!.touched"
      class="required-star">*</span>
    </label>
    <select *ngIf="contactForm.get('topic')?.value == 'application'" class="text-input" id="applicationType"
            name="applicationType"
            formControlName="applicationType"
            (change)="onApplicationTypeChange()">
      <option value="" disabled selected hidden>Choose an application type</option>
      <option value="player">Player</option>
      <option value="manager">Manager</option>
      <option value="coach">Coach</option>
      <option value="caster">Caster</option>
      <option value="other">Other</option>
    </select>
    <div
      *ngIf="contactForm.get('applicationType')?.hasError('required') && contactForm.get('applicationType')!.touched"
      class="validation-error">
      Application Type is required.
    </div>

    <!-- Profile URL  -->
    <label
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value == 'player' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      for="profileURL"> PROFILE URL <span
      *ngIf="contactForm.get('profileURL')!.hasError('required') && contactForm.get('profileURL')!.touched"
      class="required-star">*</span>
    </label>
    <input
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value == 'player' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      type="url" class="text-input" id="profileURL" name="profileURL"
      formControlName="profileURL">
    <div *ngIf="contactForm.get('profileURL')?.hasError('required') && contactForm.get('profileURL')!.touched"
         class="validation-error">
      Profile URL is required.
    </div>
    <div *ngIf="contactForm.get('profileURL')?.hasError('invalidUrl') && contactForm.get('profileURL')!.touched"
      class="validation-error">
      Not a valid URL.
    </div>

    <!-- Role -->
    <label
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value == 'player' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      for="role"> ROLE <span
      *ngIf="contactForm.get('role')!.hasError('required') && contactForm.get('role')!.touched"
      class="required-star">*</span>
    </label>
    <select
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value == 'player' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      class="text-input" id="role" name="role"
      formControlName="role">
      <option value="" disabled selected hidden>Choose a role</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
    <div *ngIf="contactForm.get('role')?.hasError('required') && contactForm.get('role')!.touched"
         class="validation-error">
      Role is required.
    </div>

    <!-- maxRank -->
    <label
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value == 'player' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      for="maxRank"> MAX RANK <span
      *ngIf="contactForm.get('maxRank')!.hasError('required') && contactForm.get('maxRank')!.touched"
      class="required-star">*</span>
    </label>
    <select
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value == 'player' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      class="text-input" id="maxRank" name="maxRank"
      formControlName="maxRank">
      <option value="" disabled selected hidden>Choose a rank</option>
      <option *ngFor="let rank of ranks" [value]="rank">{{rank}}</option>
    </select>
    <div *ngIf="contactForm.get('maxRank')?.hasError('required') && contactForm.get('maxRank')!.touched"
         class="validation-error">
      Max Rank is required.
    </div>

    <!-- gender -->
    <label
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      for="gender"> GENDER <span
      *ngIf="contactForm.get('gender')!.hasError('required') && contactForm.get('gender')!.touched"
      class="required-star">*</span>
    </label>
    <select
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      class="text-input" id="gender" name="gender"
      formControlName="gender">
      <option value="" disabled selected hidden>Choose a gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    <div *ngIf="contactForm.get('gender')?.hasError('required') && contactForm.get('gender')!.touched"
         class="validation-error">
      Gender is required.
    </div>


    <!-- birthday -->
    <label
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      for="birthday"> BIRTHDAY <span
      *ngIf="contactForm.get('birthday')!.hasError('required') && contactForm.get('birthday')!.touched"
      class="required-star">*</span>
    </label>
    <input
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      type="date" class="text-input" id="birthday" name="birthday"
      formControlName="birthday">
    <div *ngIf="contactForm.get('birthday')?.hasError('required') && contactForm.get('birthday')!.touched"
         class="validation-error">
      Birthday is required.
    </div>
    <div *ngIf="contactForm.get('birthday')?.hasError('minAge') && contactForm.get('birthday')!.touched"
         class="validation-error">
      You must be at least 16 years old to apply.
    </div>

    <!-- country -->
    <label
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      for="country"> COUNTRY <span
      *ngIf="contactForm.get('country')!.hasError('required') && contactForm.get('country')!.touched"
      class="required-star">*</span>
    </label>
    <select
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      class="text-input" id="country" name="country"
      formControlName="country">
      <option value="" disabled selected hidden>Choose a country</option>
      <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
    </select>
    <div *ngIf="contactForm.get('country')?.hasError('required') && contactForm.get('country')!.touched"
         class="validation-error">
      Country is required.
    </div>

    <!-- description -->
    <label
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      for="description"> WHY YOU? <span
      *ngIf="
      contactForm.get('description')!.hasError('required') && contactForm.get('description')!.touched"
      class="required-star">*</span>
    </label>
    <textarea
      *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value"
      type="text" class="text-input area" id="description" name="description"
      formControlName="description"
      (input)="onInput($event, 'description')"
      placeholder="&bull; What are your strengths?&#10;&bull; What makes you different from others in your position?&#10;&bull; How do you play your role in this position?&#10;&bull; What are your best agents/champions/etc if you are a player?">
    </textarea>
    <div *ngIf="
      contactForm.get('topic')?.value == 'application' &&
      contactForm.get('applicationType')?.value &&
      contactForm.get('game')?.value" class="character-count">
      {{ characterCount }}/512
    </div>
    <div *ngIf="contactForm.get('description')?.hasError('required') && contactForm.get('description')!.touched"
         class="validation-error">
      This field is required.
    </div>

    <!-- consent -->
    <label for="consent">DATA PROCESSING CONSENT<span
      class="required-star">*</span></label>
    <div *ngIf="contactForm.get('consent')?.value == false && contactForm.get('consent')?.touched" class="validation-error">
      Consent is required.
    </div>
    <div class="consent-box">
      <input
        type="checkbox" class="text-input consent-checkbox" id="consent" name="consent"
        formControlName="consent">
      <div class="consent-text">
        By using this form you agree with the storage and handling of your data by this website according to our
        <a class="policy-link">Privacy policy</a>
      </div>
    </div>

    <button class="submit-btn" type="submit" [disabled]="isSubmitDisabled">Submit</button>
  </form>
</div>
