.site-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center;
  background-image: url('src/assets/imgs/Untitled.jpg');
  background-repeat: repeat-y;
  padding-bottom: 100px;
}
.twitch-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10vw; /* Add some spacing between news items */
  color: white;
  position: relative;
  top: 30px; /* Position the title at the top of the container */
  left: 10vw;
/*  justify-content: center; !* Center content horizontally *!*/
  align-items: center; /* Center content vertically */
  width: 100%;
}
.title {
  color: black;
  font-size: 100px;
  font-family: Impact, serif;
}
.title-wrapper {
  position: relative;
  left: -400px;
  top: -50px;
}

