<div class="field">
  <div class="title-wrapper">
    <div class="title">WHO ARE WE?</div>
    <div class="sub">ONE OF UK'S TOP E-SPORTS TEAMS</div>
  </div>
  <div class="social-wrapper">
    <div class="content-wrapper">
      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et vehicula ex. Etiam non semper est, a ultrices
          diam. Ut diam mi, mattis semper lacus at, luctus posuere libero. Duis sed viverra urna. Integer egestas arcu
          at pharetra vulputate. Sed efficitur imperdiet eros nec rhoncus. Nulla laoreet, velit sed vulputate auctor,
          ligula arcu egestas nibh, et eleifend mauris tellus vitae purus. Nulla eget urna at nibh volutpat eleifend
          id id tellus. Aenean eu fringilla dolor. Pellentesque auctor euismod lectus. Donec euismod elit ex, sit amet
          fringilla neque facilisis nec. Nunc quis semper arcu. Integer accumsan ornare venenatis. Proin eu mollis
          purus, ut viverra nulla. Donec nec pulvinar dolor.
        </p>
        <p>
        Quisque vitae nulla id ipsum scelerisque interdum non vitae est. Fusce ac sem nec ipsum tempus viverra non sed
          tortor. Quisque tincidunt mauris a massa commodo gravida. Vestibulum et libero ac eros finibus condimentum ac
          a ipsum. Etiam ultricies ipsum ut diam hendrerit tincidunt. Orci varius natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Mauris at ex ante.
        </p>
      </div>
    </div>
  </div>
</div>
