<div class="placeholder"></div>
<div class="schedule-box">
  <div class="buttons">
    <button (click)="showContent(1)" [disabled]="button1Disabled">Upcoming</button>
    <button (click)="showContent(2)" [disabled]="button2Disabled">Results</button>
  </div>

  <div *ngIf="currentContent === 1">
    <!-- Content for button 1 -->
    <div *ngFor="let event of nextTwoEvents" class="event-container">
      <div class="event-details">
        <div class="event-title-wrapper">
          <div class="event-title">
            <img src="https://cdn0.gamesports.net/league_team_logos/196000/196354.jpg?1678121391" alt="vzk-logo">
            VS
            <img [src]="event.enemyLogoURL" alt="Image from URL">
          </div>
        </div>
        <hr class="event-divider"/>
        <div class="event-time">{{ event.datetime | date: 'h:mm a' }} BST</div>
        <div class="event-date">{{ event.datetime | date: 'MMM d, YYYY' }}</div>
        <div class="event-game">{{ event.game }}</div>
        <div class="event-description">{{ event.description }}</div>
      </div>
    </div>
    <div class="arrow-button-wrapper">
      <button class="arrow-button upcoming-var">See more<span class="arrow"></span></button>
    </div>
  </div>

  <div *ngIf="currentContent === 2">
    <!-- Content for button 2 -->
    <div *ngFor="let result of nextTwoResults" class="event-container">
      <div class="event-details">
        <div class="event-title-wrapper">
          <div class="event-title">
            <img src="https://cdn0.gamesports.net/league_team_logos/196000/196354.jpg?1678121391" alt="vzk-logo">
            {{result.teamResult}}  -  {{result.enemyResult}}
            <img [src]="result.enemyLogoURL" alt="Image from URL">
          </div>
        </div>
        <hr class="event-divider"/>
        <div class="event-time">{{ result.datetime | date: 'h:mm a' }} BST</div>
        <div class="event-date">{{ result.datetime | date: 'MMM d, YYYY' }}</div>
        <div class="event-game">{{ result.game }}</div>
        <div class="event-description">{{ result.description }}</div>
      </div>
    </div>
    <div class="arrow-button-wrapper">
      <button class="arrow-button result-var">See more<span class="arrow"></span></button>
    </div>
  </div>
</div>
