<div class="container">
  <a class="c-preview">
    <div class="c-preview__img">
      <img class="card" [src]="player?.image" alt="{{ player?.playerName }}"/>
    </div>
    <div class="c-preview__title cover">{{player?.playerName}}</div>
    <div class="c-preview__title content">
      <div class="name">{{player?.playerName}}</div>
      <div class="role">{{player?.role}}</div>
      <div class="age-origin">{{player?.age}}, {{player?.countryOrigin}}</div>
      <div class="social-icons-wrapper">
        <hr class="divider"/>
        <div class="rec-content">
          <div class="social-icon twitch" *ngIf="player?.twitch" (click)="redirectTo('twitch')">
            <i class="fab fa-twitch"></i>
          </div>
          <div class="social-icon twitter" *ngIf="player?.twitter" (click)="redirectTo('twitter')">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="social-icon youtube" *ngIf="player?.youtube" (click)="redirectTo('youtube')">
            <i class="fab fa-youtube"></i>
          </div>
          <div class="social-icon instagram" *ngIf="player?.instagram" (click)="redirectTo('instagram')">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
