.container{
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  font-family: Impact, serif;
}

.card{
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  background-color: #301717;
  object-position: center top;
  transform: scale(1.1);
}

.cover {
  font-size: 40px;
}

.content{
  display: none;
}

.container:hover .cover {
  display: none;
}

.container:hover .content {
  display: unset;
}

.container:hover .card {
  -webkit-filter: blur(5px) grayscale(1);
  transition: 1s ease;
  transform: scale(1.5);
}

/***********************************/

.c-preview {
  background: #000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #ff013c 50%, #1e0303 75%, #7800a8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #ff003c 50%, #1e0303 75%, #7800a8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #ff013c 50%, #1e0303 75%, #7800a8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 400% 400%;
  background-repeat: no-repeat;
  display: flex;
  width: 500px;
  height: 500px;
  max-width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  transition: 0.5s all;
}
.c-preview__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: screen;
}
.c-preview__title {
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.c-preview:hover {
  background-position: 100% 100%;
}




