.container{
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  font-family: Impact, serif;
}

.card{
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  background-color: #301717;
  object-position: center top;
  transform: scale(1.1);
}

.cover {
  font-size: 40px;
}

.c-preview__title.content {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container:hover .cover {
  display: none;
}

.container:hover .content {
  display: flex;
}

.container:hover .card {
  -webkit-filter: blur(5px) grayscale(1);
  transition: 1s ease;
  transform: scale(1.5);
}

/***********************************/

.c-preview {
  background: #000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #ff013c 50%, #1e0303 75%, #7800a8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #ff003c 50%, #1e0303 75%, #7800a8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #ff013c 50%, #1e0303 75%, #7800a8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 400% 400%;
  background-repeat: no-repeat;
  display: flex;
  width: 400px;
  height: 400px;
  max-width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  transition: 0.5s all;
}
.c-preview__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: screen;
}
.c-preview__title {
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.c-preview:hover {
  background-position: 100% 100%;
}

/***************************************/
/* Your existing styles... */

.social-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.rec-content {
  position: relative;
  z-index: 2;
  top: 10px;
}

.divider {
  box-shadow: 0 1px 1px white;
  width: 70%;
}

/***************************************/

.sm-wrapper {
  display: block;
  height: 50px;
}

.fab {
  font-size: 20px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  transition: background 0.3s ease-in-out;
  font-size: 40px;
  text-align: center;
}

.facebook:hover {
  background: linear-gradient(to right, #3b5998, #2672cb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.twitter:hover {
  background: linear-gradient(to right, #1da1f2, #63a4ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.youtube:hover {
  background: linear-gradient(to right, #ff0000, #ff5e5e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.instagram:hover {
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.twitch:hover {
  background: linear-gradient(to right, #6441a5, #b9a3e3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

/***************************************/

.age-origin{
  padding-bottom: 10px;
}

