.site-wrapper{
  padding-top: 250px;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(107, 0, 8, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(107, 0, 8, 1) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(107, 0, 8, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#6b0008", GradientType=1);
  position: relative;
  overflow: hidden;
  z-index: -1; /* Behind other elements */
  content: ''; /* Required for pseudo-elements */
  margin: -10px -8px -20px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

#home {
  clip-path: url(#cache);
}

#white {
  fill: none;
  opacity: 0.45;
  stroke: white;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#dark-red {
  fill: none;
  opacity: 0.65;
  stroke: #260101;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#red {
  fill: none;
  opacity: 0.45;
  stroke: #a60512;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.15;
  }
}
