<div class="content">
  <div class="page-wrapper">
    <div class="page-wrapper-inner">
      <div class="details-wrapper page-wrapper-inner">
        <div *ngIf="account?.countryOrigin" class="row">
          <i class="fa-solid fa-earth-americas icon row">
            <div class="detail font">Country:</div>
            <div class="label">
              {{ account?.countryOrigin }}
            </div>
          </i>
        </div>
        <div *ngIf="account?.birthday" class="row">
          <i class="fa-solid fa-cake-candles icon row">
            <div class="detail font">Birthday:</div>
            <div class="label">
              {{ account?.birthday }}
            </div>
          </i>
        </div>
        <div *ngIf="account?.gender" class="row">
          <i class="fa-solid fa-venus-mars icon row">
            <div class="detail font">Gender:</div>
            <div class="label">
              {{ account?.gender }}
            </div>
          </i>
        </div>
        <div *ngIf="account?.twitter" class="row">
          <i class="fa-brands fa-twitter icon row">
            <div class="detail font">Twitter:</div>
            <div class="label">
              <a [href]="account?.twitter">Link</a>
            </div>
          </i>
        </div>
        <div *ngIf="account?.instagram" class="row">
          <i class="fa-brands fa-instagram icon row">
            <div class="detail font">Instagram:</div>
            <div class="label">
              <a [href]="account?.instagram">Link</a>
            </div>
          </i>
        </div>
        <div *ngIf="account?.youtube" class="row">
          <i class="fa-brands fa-youtube icon row">
            <div class="detail font">Youtube:</div>
            <div class="label">
              <a [href]="account?.youtube">Link</a>
            </div>
          </i>
        </div>
        <div *ngIf="account?.twitch" class="row">
          <i class="fa-brands fa-twitch icon row">
            <div class="detail font">Twitch:</div>
            <div class="label">
              <a [href]="account?.twitch">Link</a>
            </div>
          </i>
        </div>
      </div>
    </div>
    <div class="page-wrapper-inner">
      <div class="contact-title font">Account Details</div>
      <div class="details-wrapper page-wrapper-inner">
        <div *ngIf="account?.game" class="row game-div">
          <div class="detail font">Game:</div>
          <img class="logo-img" [src]="account?.game"/>
        </div>
        <div *ngIf="account?.playerName" class="row col-2">
          <i class="fa-solid fa-address-card icon row">
            <div class="detail font">Player Name:</div>
            <div class="label">
              {{ account?.playerName }}
            </div>
          </i>
        </div>
        <div *ngIf="account?.role" class="row ">
          <i class="fa-solid fa-dice-d6 icon row">
            <div class="detail font">Role:</div>
            <div class="label">
              {{ account?.role }}
            </div>
          </i>
        </div>
        <div *ngIf="account?.team" class="row ">
          <i class="fa-solid fa-user-group icon row">
            <div class="detail font">Team:</div>
            <div class="label">
              {{ account?.team }}
            </div>
          </i>
        </div>
        <button (click)="editPlayer()" class="btn-edit">Edit</button>
      </div>
    </div>
    <div class="circular--portrait">
      <img [src]="account?.image" class="circular--portrait inner"/>
    </div>
  </div>
</div>
